@(subscriberForm: Form[Subscriber], subscribers: Seq[Subscriber], authSupport: AuthenticatedActionSupport)()(implicit messages: Messages, flash: Flash, request: Request[AnyContent])

@main("SMS Alerting System V2", authSupport) {
  <h1>Debug Page</h1>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        @helper.form(action = routes.DebugController.post()) {
            @helper.CSRF.formField
            @helper.textarea(subscriberForm("phone_number"), '_label -> "Phone Number")
            @helper.textarea(
                subscriberForm("language"),
                '_label -> s"Language, one of: ${SubscriberTransitions.LanguageSelections.values.mkString(",")}"
            )
            @helper.textarea(
                subscriberForm("state"),
                '_label -> s"State, one of: ${SubscriberTransitions.SubscriptionStates.map(_.stateName).mkString(",")}"
            )
            <button type="submit" class="btn btn-primary">Submit</button>
        }
      </div>
      <div class="col-sm">
        <h3>Current Subscribers</h3>
        <ul>
        @for(subscriber <- subscribers) {
          <li>@subscriber.id, @subscriber.phone, @subscriber.language, @subscriber.state</li>
        }
        </ul>
      </div>
    </div>
  </div>
}
