@(followupForm: Form[FollowUp], authSupport: AuthenticatedActionSupport)()(implicit messages: Messages, flash: Flash, request: Request[AnyContent])

@main("SMS Alerting System V2", authSupport) {
    <h1>Follow Up Form</h1>

    @helper.form(action = routes.FollowupController.post()) {
        @helper.CSRF.formField
        @helper.inputText(followupForm("numberPeople"), '_label -> "Number of People Detained")
        @helper.inputText(followupForm("city"), '_label -> "City")
        @helper.inputText(followupForm("targetName"), '_label -> "Person to Call for Release")
        @helper.inputText(followupForm("targetPhoneNumber"), '_label -> "Phone Number of Person to Call")
        <button type="submit" class="btn btn-primary">Submit</button>
    }
}
