@(title: String, authSupport: AuthenticatedActionSupport)(content: Html)(implicit flash: Flash, request: Request[AnyContent])

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/alert">Alert Form</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/followup">Follow Up Form</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/debug">Debug Page</a>
                    </li>

                    <!-- TODO: need to add some code to remove this if the user is not logged in -->
                    <!-- the cache is not being injected here which is causing an NPE -->
                    @if(authSupport.isAuthenticated(request)) {
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>

        <div class="container">
            @flash.get("success").map { message =>
                <div class ="alert alert-success">
                    @message
                </div>
            }
            <div class="well">
                @* And here's where we render the `Html` object containing
                * the page content. *@
                @content
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="@routes.Assets.versioned("javascripts/bootstrap.js")"></script>
    </body>
</html>
